{{extend 'layout.html'}}

<h1>{{=angajat.nume + ' ' + angajat.prenume}}</h1>

<ul>
  <li><label>Firma:</label> {{=angajat.firma.nume}}</li>
  <li><label>Norma:</label> {{=angajat.norma}} ore</li>
  <li><label>Concedii luate pe anul curent:</label></li>
  <ul>
    {{if sum(sume):}}
    {{for ord, c in enumerate(concedii):}}
    {{if sume[ord]:}}
    <li><label>{{=c.abreviere + " - " + c.nume}}:</label> {{=sume[ord]}}</li>
    {{pass}}
    {{pass}}
    {{else:}}
    <li>Angajatul nu are luate concedii pe anul acesta.</li>
    {{pass}}
  </ul>
</ul>

