{{extend 'layout.html'}}

{{block script}}
<script type="text/javascript">
  $(function(){
  $("#pontaj-table>tbody>tr").hover(
  function () {
      $(this).addClass("overit");
  }, 
  function () {
      $(this).removeClass("overit");
  }
  );
  $(".pontator, .concediator").click(function(e){
  $(this).load($(this).attr("href"));
  e.preventDefault();
  });
  $(".pontator, .concediator").scroll(function(e){
  console.log("scrolling");
  });
  });
</script>
{{end}}
<div id="legenda">
  <ul>
    {{for tc in tcs.select():}}
    <li>{{=tc.abreviere}} - {{=tc.nume}}</li>
    {{pass}}
  </ul>
</div>

<h1 style="text-align:center;">Foaie colectivă de prezență</h1>
<h3>Unitatea <a id="urmatoarea-firma" href="{{=URL('urmatoarea_firma')}}">{{=firma.nume}}</a></h3>
<h4 style="text-align:center;">
  <a href="{{=URL('index', args=(inapoi.year, inapoi.month))}}">&lt;&lt;</a> pe luna {{=luna}} {{=an}} <a href="{{=URL('index', args=(inainte.year, inainte.month))}}">&gt;&gt;</a>
</h4>
{{import calendar}}
{{c = calendar.Calendar()}}
<table id="pontaj-table">
<thead>
<tr>
  <th rowspan="2">Nr. crt</th>
  <th rowspan="2">Angajat</th>
  <th colspan="{{=calendar.monthrange(an,luna)[1]}}">Ore zilnic</th>
  <th rowspan="2">Lucrate</th>
  <th rowspan="2">Nelucrate</th>
  <th colspan="{{=tcs.count()}}">Concedii</th>
</tr>
<tr>
  {{for zi in c.itermonthdays2(an, luna):}}
  {{if zi[0] != 0:}}
  <th class="{{if zi[1] in (5,6):}}weekend{{pass}}">{{=zi[0]}}</th>
  {{pass}}
  {{pass}}
  {{for tc in tcs.select():}}
  <th>{{=tc.abreviere}}</th>
  {{pass}}
</tr>
</thead>
<tbody>
{{for ord, angajat in enumerate(angajati):}}
<tr>
  <td>{{=ord + 1}}</td>
  <td>{{=angajat.nume}} {{=angajat.prenume}}</td>
  {{pontaj = db.pontaj((db.pontaj.angajat==angajat) & (db.pontaj.luna==intai))}}
  {{for zi in c.itermonthdays2(an, luna):}}
  {{if zi[0] != 0:}}
  {{index = zi[0] - 1}}
  <td class="{{if zi[1] in (5,6):}}weekend{{pass}}"><a class="pontator" href="{{=URL('ponteaza', args=(pontaj.id, index))}}">{{=pontaj.zile[index]}}</a></td>
  {{pass}}
  {{pass}}
  <td>{{=pontaj.total_ore_lucrate}}</td>
  <td>{{=pontaj.total_ore_nelucrate}}</td>
  {{for cc, co in enumerate(pontaj.concedii):}}
  <td><a class="concediator" href="{{=URL('concediaza', args=(pontaj.id, cc))}}">{{=co}}</a></td>
  {{pass}}
</tr>
{{pass}}
</tbody>
</table>
