{{extend 'layout.html'}}

<div id="legenda" style="float:right;">
  <ul>
    {{for t in tc.select():}}
    <li>{{=t.abreviere}} - {{=t.nume}}</li>
    {{pass}}
  </ul>
</div>

<h1 style="text-align:center;">Foaie colectivă de prezență</h1>
<h3>Unitatea {{=db.firma(1).nume}}</h3>
<h4 style="text-align:center;">pe luna {{=luna}} {{=an}}</h4>
<table>
<thead>
<tr>
  <th rowspan="2">Nr. crt</th>
  <th rowspan="2">Angajat</th>
  <th colspan="31">Ore zilnic</th>
  <th colspan="{{=tc.count()}}">Concedii</th>
</tr>
<tr>
  <th></th>
  {{for i in range(1,32):}}
  <th>{{=i}}</th>
  {{pass}}
  {{for tc in tipuri_concediu:}}
  <th>{{=tc.abreviere}}</th>
  {{pass}}
</tr>
</thead>
<tbody>
{{for ord, angajat in enumerate(angajati):}}
<tr>
  <td>{{=ord}}</td>
  <td>{{=angajat.nume}} {{=angajat.prenume}}</td>
  <td>...</td>
  <td>...</td>
</tr>
{{pass}}
</tbody>
</table>
