{{extend 'layout.html'}}

<div id="legenda" style="float:right;">
  <ul>
    {{for tc in tcs.select():}}
    <li>{{=tc.abreviere}} - {{=tc.nume}}</li>
    {{pass}}
  </ul>
</div>

<h1 style="text-align:center;">Foaie colectivă de prezență</h1>
<h3>Unitatea {{=db.firma(1).nume}}</h3>
<h4 style="text-align:center;">pe luna {{=luna}} {{=an}}</h4>
<table>
<thead>
<tr>
  <th rowspan="2">Nr. crt</th>
  <th rowspan="2">Angajat</th>
  <th colspan="31">Ore zilnic</th>
  <th colspan="{{=tcs.count()}}">Concedii</th>
</tr>
<tr>
  {{for i in range(1,32):}}
  <th>{{=i}}</th>
  {{pass}}
  {{for tc in tcs.select():}}
  <th>{{=tc.abreviere}}</th>
  {{pass}}
</tr>
</thead>
<tbody>
{{for ord, angajat in enumerate(angajati):}}
<tr>
  <td>{{=ord + 1}}</td>
  <td>{{=angajat.nume}} {{=angajat.prenume}}</td>
  {{pontaj = db.pontaj((db.pontaj.angajat==angajat) & (db.pontaj.luna==intai))}}
  {{for zi in pontaj.zile:}}
  <td>{{=zi}}</td>
  {{pass}}
  {{for co in pontaj.concedii:}}
  <td>{{=co}}</td>
  {{pass}}
</tr>
{{pass}}
</tbody>
</table>
